<a href="https://colab.research.google.com/github/itzel24itslp-design/Entrega-/blob/main/DF%2CEstudiantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
Estudiantes = pd.read_csv("/content/datasets/Estuduantes.csv")
Estudiantes

      NOMBRE  EDAD     GENERO  PROMEDIO
0    Braulio    19  Masculino        77
1     Mihael    19  Masculino        82
2     Aseret    19   Femenino        86
3      Josue    18  Masculino        88
4       Aldo    22  Masculino        80
5       Ivan    19  Masculino        72
6    Vanessa    19   Femenino        73
7   Gabriela    17   Femenino        71
8    Missael    19  Masculino        75
9       Alan    19  Masculino        70
10    Alexis    19  Masculino        90
11    Brayan    19  Masculino        87
12     Diego    19  Masculino        85
13      Luis    20  Masculino        80
14     Efren    20  Masculino        78
15     yamil    22  Masculino        82

In [ ]:
Estudiantes['EDAD'].describe()

count    16.0000
mean     19.3125
std       1.2500
min      17.0000
25%      19.0000
50%      19.0000
75%      19.2500
max      22.0000
Name: EDAD, dtype: float64

In [ ]:
Estudiantes['GENERO'].describe()

count            16
unique            2
top       Masculino
freq             13
Name: GENERO, dtype: object

In [ ]:
type(Estudiantes)

pandas.core.frame.DataFrame

In [ ]:
media_edad = Estudiantes['EDAD'].mean()

In [ ]:
media_promedio = Estudiantes['PROMEDIO'].mean()
Estudiantes["PROMEDIO"].map(lambda promedio: promedio - media_promedio)

0     -2.75
1      2.25
2      6.25
3      8.25
4      0.25
5     -7.75
6     -6.75
7     -8.75
8     -4.75
9     -9.75
10    10.25
11     7.25
12     5.25
13     0.25
14    -1.75
15     2.25
Name: PROMEDIO, dtype: float64

#Conclucion
El análisis muestra que el grupo de estudiantes tiene una edad promedio de alrededor de 19 años y está conformado principalmente por hombres. Además, al comparar los promedios individuales con la media general, se puede identificar qué estudiantes destacan académicamente y cuáles están por debajo del promedio, lo que puede ser útil para realizar un seguimiento del rendimiento académico del grupo, tambien se muestra como se describen las variables mas comunes como lo son la eddad y el genero clasificandolos en grupo, tambien se muestr el promedio de la media, para poder tener un mejor manejo y una mejor explicacion del DataFrent.